*{
    margin:0;
    padding:0;
}

body{
    background-color:  rgb(53, 167, 255);
    text-align: center;
}

.container{
    height:70vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vh;
    width:60vh;
    display:flex;
    flex-wrap:wrap;
    gap:1.5vmin;
}

.box{
    height:18vh;
    width:18vh;
    color:rgb(10, 9, 12);
    border-radius: 1rem;
    border:none;
    background-color: rgb(255, 235, 231);
    font-size:8vmin;
    box-shadow: 0 0 1rem rgba(0,0,0,0.7);
}

.reset{
    padding:1rem;
    font-size:1.25rem;
    color:rgb(10, 9, 12);
    background-color: rgb(255, 235, 231);;
}

.winner{
    padding-top:20px;
    display:none;
}

.heading{
    margin-top:20px;
}